# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 6</font>

## Download: http://github.com/dsacademybr

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.8.8

### Update e Delete

In [1]:
import sqlite3
import random
import time
import datetime
 
# Criando uma conexão
conn = sqlite3.connect('dsa.db')   

# Criando um cursor
c = conn.cursor()
 
# Função para criar uma tabela
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
              'prod_name TEXT, valor REAL)')
      
# Função para inserir uma linha
def data_insert():
    c.execute("INSERT INTO produtos VALUES(002, '02-05-2020', 'teclado', 130 )")
    conn.commit()
    c.close()
    conn.close()
    
# Usando variáveis para inserir dados    
def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_name = 'monitor'
    new_valor = random.randrange(50,100)
    c.execute("INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?, ?)", 
              (new_date, new_prod_name, new_valor))
    conn.commit()
    
# Leitura de dados
def leitura_todos_dados():
    c.execute("SELECT * FROM PRODUTOS")
    for linha in c.fetchall():
        print(linha)
        
# Leitura de registros específicos
def leitura_registros():
    c.execute("SELECT * FROM PRODUTOS WHERE valor > 70.0")
    for linha in c.fetchall():
        print(linha)      
        
# Leitura de colunas específicos
def leitura_colunas():
    c.execute("SELECT * FROM PRODUTOS")
    for linha in c.fetchall():
        print(linha[3])  
        
# Update
def atualiza_dados():
    c.execute("UPDATE produtos SET valor = 70.00 WHERE valor = 98.0")
    conn.commit()
    
# Delete
def remove_dados():
    c.execute("DELETE FROM produtos WHERE valor = 62.0")
    conn.commit()

In [2]:
atualiza_dados()

In [3]:
leitura_todos_dados()

(10, '2020-05-02 14:32:11', 'Teclado', 90.0)
(11, '2022-04-11 16:59:41.069853', 'Monitor', 83.0)
(12, '2022-04-11 16:59:42.086367', 'Monitor', 81.0)
(13, '2022-04-11 16:59:43.096238', 'Monitor', 65.0)
(14, '2022-04-11 16:59:44.121624', 'Monitor', 97.0)
(15, '2022-04-11 16:59:45.126384', 'Monitor', 69.0)
(16, '2022-04-11 16:59:46.134658', 'Monitor', 66.0)
(17, '2022-04-11 16:59:47.148134', 'Monitor', 83.0)
(18, '2022-04-11 16:59:48.156469', 'Monitor', 73.0)
(19, '2022-04-11 16:59:49.175805', 'Monitor', 55.0)
(20, '2022-04-11 16:59:50.196449', 'Monitor', 94.0)
(21, '2022-04-11 19:10:36.429010', 'Monitor', 62.0)
(22, '2022-04-11 19:10:37.448293', 'Monitor', 58.0)
(23, '2022-04-11 19:10:38.469558', 'Monitor', 77.0)
(24, '2022-04-11 19:10:39.476986', 'Monitor', 78.0)
(25, '2022-04-11 19:10:40.496831', 'Monitor', 50.0)
(26, '2022-04-11 19:10:41.514065', 'Monitor', 65.0)
(27, '2022-04-11 19:10:42.527271', 'Monitor', 68.0)
(28, '2022-04-11 19:10:43.545469', 'Monitor', 83.0)
(29, '2022-04-11 19:10:44.550703', 'Monitor', 70.0)
(30, '2022-04-11 19:10:45.567282', 'Monitor', 89.0)

In [4]:
remove_dados()

In [5]:
leitura_todos_dados()

(10, '2020-05-02 14:32:11', 'Teclado', 90.0)
(11, '2022-04-11 16:59:41.069853', 'Monitor', 83.0)
(12, '2022-04-11 16:59:42.086367', 'Monitor', 81.0)
(13, '2022-04-11 16:59:43.096238', 'Monitor', 65.0)
(14, '2022-04-11 16:59:44.121624', 'Monitor', 97.0)
(15, '2022-04-11 16:59:45.126384', 'Monitor', 69.0)
(16, '2022-04-11 16:59:46.134658', 'Monitor', 66.0)
(17, '2022-04-11 16:59:47.148134', 'Monitor', 83.0)
(18, '2022-04-11 16:59:48.156469', 'Monitor', 73.0)
(19, '2022-04-11 16:59:49.175805', 'Monitor', 55.0)
(20, '2022-04-11 16:59:50.196449', 'Monitor', 94.0)
(22, '2022-04-11 19:10:37.448293', 'Monitor', 58.0)
(23, '2022-04-11 19:10:38.469558', 'Monitor', 77.0)
(24, '2022-04-11 19:10:39.476986', 'Monitor', 78.0)
(25, '2022-04-11 19:10:40.496831', 'Monitor', 50.0)
(26, '2022-04-11 19:10:41.514065', 'Monitor', 65.0)
(27, '2022-04-11 19:10:42.527271', 'Monitor', 68.0)
(28, '2022-04-11 19:10:43.545469', 'Monitor', 83.0)
(29, '2022-04-11 19:10:44.550703', 'Monitor', 70.0)
(30, '2022-04-11 19:10:45.567282', 'Monitor', 89.0)

# Fim

### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>